.title {
    font-size: 225%;
    font-weight: bold;
    font-family: 'Arial';
    color: rgb(0, 0, 0);
    padding: 5%;
}
.links {
    color:rgb(234, 63, 220);
    padding: 1%;
    font-size: 200%;
}
html {
    height: 100%;
    width: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}
